.main {
    justify-content: center;
}

.frontmain {
    width: 700px;
    height: 205px;
    display: flex;
    align-items: center;
}

.front {
    width: 332px;
    height: 204px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.right {
    flex: 1.5;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.lblempName {
    font-weight: bold;
}

.offName {
    font-weight: bold;
}

.logo {
    height: 54.6px;
    width: 66px;
}

.back {
    width: 332px;
    height: 204px;
    display: flex;
    justify-content: center;
}

.qrCode {
    padding: 7%;
}

.backmain {
    width: 700px;
    height: 205px;
    display: flex;
    align-items: center;
}